@import "tailwindcss";



/* *{
  font-family:"Roboto";
} */

@theme{
  --color-primary: #5f6FFF;
  --my-grid-cols:repeat(auto-fill,minmax(200px,1fr));
}

.active hr{
  @apply block
}

::-webkit-scrollbar{
  @apply hidden
}